pandas
pyarrow
pyyaml
matplotlib
scikit-learn
sentence-transformers
umap-learn
nbclient
nbconvert
ipykernel
torch
transformers
datasets
peft
trl
accelerate
bitsandbytes
evaluate
rouge-score
bert-score
